* {
border:0 none;
margin:0;
padding:0;
}

A {
 color: #74BDDE;
 text-decoration : underline;
}

BODY{

text-align:center;
z-index: -1; 
position: absolute; 
background: url(imgs/bg.png) no-repeat scroll left top;
}



.input{
	color: black;
	background-color: #74BDDE;
	/*border: 1px solid black;*/
}

.red{
	color:red;
}

.black{
	color:black;
}

.blue{
	color:blue;
}

hr{
 border: 0px; /* F�r Firefox und Opera */
 border-top: solid 1px #707F90;
 border-bottom: transparent;
}

#overall {

  position: absolute;
top: 70px;
left: 70px;
  font-family : Calibri, Arial,sans-serif,Tahoma,Georgia,"Times New Roman",serif;
  color : #74BDDE;
  width:786px;
  text-align:left;
  	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bg{
width: 100%;
height: 100%;
z-index:-1;
position:absolute;
background: white url(imgs/bild.png) no-repeat scroll left top;
display: block;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background: transparent url(imgs/header_logo.png) no-repeat scroll center top;
	width: 100%;
	height: 154px;
}

#content{
	min-height: 400px;
  	background:transparent url(imgs/content.png) repeat-y scroll center top;
	padding:10px;
	max-width:100%;
	max-height: 100%
}

.content
{
	background:transparent url(imgs/content.png) repeat-y scroll center top;
}

/*#content li{
	list-style-type:square;
	margin-left:20px;
	padding-bottom:5px;
}*/

#menu {
	height:36px;
	/*padding:0 0 0 20px;*/
	width:100%;
  	background:transparent url(imgs/content.png) repeat-y scroll center top;
}

#menu LI {
list-style-type:none;
text-transform:capitalize;
float:left;
}

#menu LI A, #menu LI A:visited{
font-family : Calibri, "Tahoma Bold","Tahoma Fett";
font-weight:bold;
color:#000;
float:left;
margin:0;
padding:9px;
position:relative;
text-align:center;
text-transform:capitalize;
text-decoration : none;
}

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}

STRONG {
	color:#74BDDE;
}

h1{
 /*line-height:0px;*/
 color: #74BDDE;
 margin: 3px;
 font-size: 30px;
}

h2{
 /*line-height:0px;*/
 color: #74BDDE;
 margin: 3px;
 font-size: 22px;
}

h3{
 /*line-height:0px;*/
 color: #74BDDE;
 margin: 3px;
 font-size: 15px;
}

#footer A {
  color: #74BDDE;
  text-decoration : underline;
}

#footer{
  color: #74BDDE;
  font-size: 10px;
  width: 100%;
  height:29px;
  background:transparent url(imgs/footer.png) no-repeat scroll center top;
}

.error{
 color: #990033;
margin: 3px;
font-size: 22px;
}

.links{
	float: left;
}

.mitte{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rechts{
	float: right;
}

.kleiner{
 width: 60%;
 float: left;
}

.small_header {
	margin-top: 10px;
	background: #2A507B;
	/*background:#FFFFFF url(imgs/menu_bg.gif) repeat-x scroll left top;*/
	width: 100%;
}

.minitext{
 color : #fff;
 font-size: 10px;
}

.invisible
{
	display:none;
}


#movingBallG{
	position:relative;
	width:250px;
	height:19px;
	margin:auto;
}

.movingBallLineG{
	position:absolute;
	left:0px;
	top:8px;
	height:4px;
	width:250px;
	background-color:rgb(68,169,216);
}

.movingBallG{
	background-color:rgb(67,67,67);
	position:absolute;
	top:0;
	left:0;
	width:19px;
	height:19px;
	border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	animation-name:bounce_movingBallG;
		-o-animation-name:bounce_movingBallG;
		-ms-animation-name:bounce_movingBallG;
		-webkit-animation-name:bounce_movingBallG;
		-moz-animation-name:bounce_movingBallG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}



@keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}

@-o-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}

@-ms-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}

@-webkit-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}

@-moz-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:230px;
	}

	100%{
		left:0px;
	}
}