{
	frankenphp
}

localhost:80 {
	log

	encode zstd br gzip

	root web/

	#request_header X-Sendfile-Type x-accel-redirect
	#request_header X-Accel-Mapping ../data=/data
	intercept {
		@sendfile header X-Accel-Redirect *
		handle_response @sendfile {
			root data/
			rewrite * {resp.header.X-Accel-Redirect}
			method * GET
			header -X-Accel-Redirect
			file_server
		}
	}

	php_server {
		try_files {path} index.php
	}
}